<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Posts</strong>
</p>
<% @user.microposts.each do |micropst| %>
  <p> <%= micropst.content%> </p>
  <p> <%= micropst.created_at%></p>
  <p> <%= micropst.updated_at%></p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
